<?xml version="1.0" ?>
<settings version="1">
    <section id="plugin.program.RetroarchLauncher">
        <category id="ael_retroarch_paths" label="20010" help="">
			<group id="1">
                <setting id="retroarch_exec_path" type="path" label="Retroarch executable" help="">
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>Retroarch executable</heading>
					</control>
                </setting>
                <setting id="retroarch_cores_dir" type="path" label="Retroarch cores directory" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>Retroarch cores directory</heading>
					</control>
                </setting> 
                <setting id="retroarch_system_dir" type="path" label="Retroarch system directory" help="">
					<level>0</level>
					<default/>
					<constraints>
						<sources>
							<source/>
						</sources>
						<writable>false</writable>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>Retroarch system directory</heading>
					</control>
                </setting>
            </group>
        </category>
        <category id="ael_retroarch_advanced" label="20011">
			<group id="1">
                <setting id="media_state_action" type="enum" label="Action on Kodi playing media" help="">
                    <level>0</level>
                    <default>0</default>
                    <constraints>
                        <options>
                            <option label="Stop">0</option>
                            <option label="Pause">1</option>
                            <option label="Let Play">2</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="delay_tempo" type="slider" label="After/before launch delay (ms)" help="">
                    <level>0</level>
                    <default>500</default>
                    <constraints>
                        <minimum>0</minimum>
                        <step>100</step>
                        <maximum>1500</maximum>
                    </constraints>
                    <control type="slider" format="integer">
                        <popup>false</popup>
                    </control>
                </setting>
                <setting id="suspend_audio_engine" type="boolean" label="Suspend/resume Kodi audio engine" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="suspend_screensaver" type="boolean" label="Suspend/resume Kodi screensaver" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="escape_romfile" type="boolean" label="Escape $rom$ quotes" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="lirc_state" type="boolean" label="Disable LIRC (Linux only)" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="windows_cd_apppath" type="boolean" label="CD into aplication dir (Windows only)" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="show_batch_window" type="boolean" label="Show batch command window (Windows only)" help="">
                    <level>0</level>
                    <default>false</default>
                    <control type="toggle"/>
                </setting>
                <setting id="windows_close_fds" type="boolean" label="Close file descriptors (Windows only)" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="windows_cd_apppath" type="boolean" label="CD into aplication dir (Windows only)" help="">
                    <level>0</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="log_level" type="enum" label="Log level" help="">
                    <level>0</level>
                    <default>1</default>
                    <constraints>
                        <options>
                            <option label="ERROR">0</option>
                            <option label="WARNING">1</option>
                            <option label="INFO">2</option>
                            <option label="VERBOSE">3</option>
                            <option label="DEBUG">4</option>
                        </options>
                    </constraints>
                    <control type="spinner" format="string"/>
                </setting>
                <setting id="ael.enabled" type="boolean" label="Enable as AEL plugin" help="">
                    <level>4</level>
                    <default>true</default>
                    <control type="toggle"/>
                </setting>
                <setting id="ael.launcher.execute_uri" type="string" label="Launcher execution URI" help="">
                    <level>4</level>
                    <default>plugin://plugin.program.RetroarchLauncher/execute</default>
                </setting>
                <setting id="ael.launcher.configure_uri" type="string" label="Launcher configuration URI" help="">
                    <level>4</level>
                    <default>plugin://plugin.program.RetroarchLauncher/configure</default>
                </setting>
            </group>
        </category>
    </section>
</settings>